:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #eef0f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #5d6679;
  line-height: 1;
}

h1 {
  font-weight: 500;
  font-size: 2rem;
  color: #383e49;
  line-height: 1;
}

section {
  margin-top: 20px;
}

.large-title {
  font-weight: 700;
  font-size: 2.4rem;
  color: #4287e8;
  line-height: 1;
}
